<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.rochatec.pos.athena.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.rochatec.pos.athena.perspective.WelcomePerspective"
            fixed="true"
            id="com.rochatec.pos.athena.perspective.WelcomePerspective"
            name="Welcome">
      </perspective>
      <perspective
            class="com.rochatec.pos.athena.perspective.SellPerspective"
            fixed="true"
            id="com.rochatec.pos.athena.perspective.SellPerspective"
            name="Sell">
      </perspective>
      <perspective
            class="com.rochatec.pos.athena.perspective.SumPerspective"
            fixed="true"
            id="com.rochatec.pos.athena.perspective.SumPerspective"
            name="Sum">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rochatec.pos.athena.app.application"
            name="POS Athena">
         <property
               name="appName"
               value="POS Athena">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.rochatec.pos.athena.app.command.sum"
            name="Sum">
      </command>
      <command
            id="com.rochatec.pos.athena.app.command.close"
            name="Close">
      </command>
      <command
            id="com.rochatec.pos.athena.app.command.open"
            name="Open">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.rochatec.pos.athena.handler.OpenHandler"
            commandId="com.rochatec.pos.athena.app.command.open">
      </handler>
      <handler
            class="com.rochatec.pos.athena.handler.SumHandler"
            commandId="com.rochatec.pos.athena.app.command.sum">
      </handler>
      <handler
            class="com.rochatec.pos.athena.handler.CloseHandler"
            commandId="com.rochatec.pos.athena.app.command.close">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="com.rochatec.pos.athena.app.scheme.pos"
            name="POSAthena">
      </scheme>
      <key
            commandId="com.rochatec.pos.athena.app.command.open"
            schemeId="com.rochatec.pos.athena.app.scheme.pos"
            sequence="F9">
      </key>
      <key
            commandId="com.rochatec.pos.athena.app.command.sum"
            schemeId="com.rochatec.pos.athena.app.scheme.pos"
            sequence="F10">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.rochatec.pos.athena.views.WelcomeView"
            id="com.rochatec.pos.athena.views.WelcomeView"
            name="Welcome"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.rochatec.pos.athena.views.SellView"
            id="com.rochatec.pos.athena.views.SellView"
            name="Sell"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <control
               class="com.rochatec.pos.athena.contribution.ProductMenuContribution"
               id="com.rochatec.pos.athena.contribution.ProductMenuContribution">
         </control>
      </menuContribution>
   </extension>

</plugin>
