<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.rochatec.pos.athena.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.rochatec.pos.athena.perspective.WelcomePerspective"
            fixed="true"
            id="com.rochatec.pos.athena.perspective.WelcomePerspective"
            name="Welcome">
      </perspective>
      <perspective
            class="com.rochatec.pos.athena.perspective.SellPerspective"
            fixed="true"
            id="com.rochatec.pos.athena.perspective.SellPerspective"
            name="Sell">
      </perspective>
      <perspective
            class="com.rochatec.pos.athena.perspective.SumPerspective"
            fixed="true"
            id="com.rochatec.pos.athena.perspective.SumPerspective"
            name="Sum">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rochatec.pos.athena.app.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Hello RCP">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
            id="com.rochatec.pos.athena.app.command.sum"
            name="Sum">
      </command>
      <command
            id="com.rochatec.pos.athena.app.command.close"
            name="Close">
      </command>
      <command
            id="com.rochatec.pos.athena.app.command.open"
            name="Open">
      </command>
      <command
            id="com.rochatec.pos.athena.app.command.openConfig"
            name="Open Config">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="com.rochatec.pos.athena.handler.OpenHandler"
            commandId="com.rochatec.pos.athena.app.command.open">
      </handler>
      <handler
            class="com.rochatec.pos.athena.handler.SumHandler"
            commandId="com.rochatec.pos.athena.app.command.sum">
      </handler>
      <handler
            class="com.rochatec.pos.athena.handler.CloseHandler"
            commandId="com.rochatec.pos.athena.app.command.close">
      </handler>
      <handler
            class="com.rochatec.pos.athena.handler.OpenConfigHandler"
            commandId="com.rochatec.pos.athena.app.command.openConfig">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <scheme
            id="com.rochatec.pos.athena.app.scheme.pos"
            name="POSAthena">
      </scheme>
      <key
            commandId="com.rochatec.pos.athena.app.command.open"
            schemeId="com.rochatec.pos.athena.app.scheme.pos"
            sequence="F9">
      </key>
      <key
            commandId="com.rochatec.pos.athena.app.command.sum"
            schemeId="com.rochatec.pos.athena.app.scheme.pos"
            sequence="F10">
      </key>
      <key
            commandId="com.rochatec.pos.athena.app.command.openConfig"
            schemeId="com.rochatec.pos.athena.app.scheme.pos"
            sequence="F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
            allowMultiple="false"
            class="com.rochatec.pos.athena.views.WelcomeView"
            id="com.rochatec.pos.athena.views.WelcomeView"
            name="Welcome"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.rochatec.pos.athena.views.SellView"
            id="com.rochatec.pos.athena.views.SellView"
            name="Sell"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.rochatec.pos.athena.views.SumView"
            id="com.rochatec.pos.athena.views.SumView"
            name="Sum"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.services">
         <sourceProvider
            provider="com.rochatec.pos.athena.provider.SellSourceProvider">
         <variable
               name="com.rochatec.pos.athena.app.variable1"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
         <definition
            id="com.rochatec.pos.athena.app.sell">
         <with
               variable="com.rochatec.pos.athena.provider.SellSourceProvider">
            <equals
                  value="sell">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
            class="com.rochatec.pos.athena.preferences.page.WelcomePage"
            id="com.rochatec.pos.athena.preferences.page.WelcomePage"
            name="Welcome">
      </page>
      <page
            class="com.rochatec.pos.athena.preferences.page.SellPage"
            id="com.rochatec.pos.athena.preferences.page.SellPage"
            name="Sell">
      </page>
      <page
            class="com.rochatec.pos.athena.preferences.page.PrinterPage"
            id="com.rochatec.pos.athena.preferences.page.PrinterPage"
            name="Printer">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.rochatec.pos.athena.app.splashHandlers.ExtensibleSplashHandler"
            id="com.rochatec.pos.athena.app.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.rochatec.pos.athena.app.product"
            splashId="com.rochatec.pos.athena.app.splashHandlers.extensible">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="com.rochatec.pos.athena.app.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>

</plugin>
