<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.rochatec.athena.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.rochatec.athena.home.perspective.DefaultPerspective"
            fixed="true"
            id="com.rochatec.athena.home.perspective.DefaultPerspectiv"
            name="Default Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rochatec.athena.pdv.plugin.application"
            name="Athena PDV">
         <property
               name="appName"
               value="Athena PDV">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.rochatec.athena.home.views.CommandsView"
            id="com.rochatec.athena.home.views.CommandsView"
            name="Commands"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="com.rochatec.athena.home.views.CupomView"
            id="com.rochatec.athena.home.views.CupomView"
            name="Cupom View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.rochatec.athena.pdv.plugin.preferences.SamplePreferencePage"
            id="com.rochatec.athena.pdv.plugin.preferences.SamplePreferencePage"
            name="Sample Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.rochatec.athena.pdv.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
